on:
  pull_request:
    branches:
      - main

jobs:
  CI:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write

    steps:
      - uses: actions/checkout@v6.0.2
        with:
          persist-credentials: false
      - name: Validate CUE schemas
        uses: ./.github/actions/validate-cue
      - name: Validate the security-insights file
        run: make lintinsights
